<h2 class="text-white text-center">Current Posts:</h2>
<div class="posts-container text-center">
  {{#each posts as |post|}}
    <div class="card my-3">
      <div class=" card-header post-header pb-0">
          <h5 class="">{{post.title}}</h5>
          <p class="date-text">Posted by {{post.user.user_name}} on {{format_date post.createdAt}}</p>
      </div>
      <div class="card-body">
        <p>{{post.description}}</p>
        <button class="btn btn-secondary viewPostBtn mt-3" data-postid="{{post.id}}">View Full Post</button>
      </div>
      </div>
  {{/each}}
</div>
<script src="js/main.js"></script>