<div class="card my-3 text-center">
  <div class="card-header post-header pb-0">
    <h5 class="">{{post.title}}</h5>
    <p class="date-text">Posted by
      {{post.user.user_name}}
      on
      {{format_date post.createdAt}}</p>
  </div>
  <div class="card-body">

    <p class="card-text">{{post.description}}</p>
  </div>
  <div class="card-body">
    <form class="form comment-submit">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="What do you think?"
          id="comment-message"
        />
        <button class="btn btn-primary commentSubmitBtn" type="submit" data-postid="{{post.id}}">Add Comment</button>
      </div>
    </form>
    {{! <a href="#" class="btn btn-primary">Add Comment</a> }}
  </div>
</div>
<div class="comment-section">
  <h3 class="text-center text-light">Comments:</h3>
  <div class="comment-container">
    {{#if post.comments}}
      {{#each post.comments}}
        <div class="card mb-3">
          <div class="card-header">
            Comment by
            {{user.user_name}}
            on
            {{format_date this.createdAt}}
          </div>
          <div class="card-body">
            <p>{{message}}</p>
          </div>
          {{#if deletable}}
          <button class="btn btn-danger deleteCommentBtn" data-comment_id="{{id}}">Delete Comment</button>
          {{/if}}
        </div>
      {{/each}}
    {{else}}
      <p class="text-center">No comments on this post.</p>
    {{/if}}
  </div>
</div>